@font-face {
  font-family: sora;
  src: url(../fonts/Sora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pai {
  padding-top: 5vh;
}

body {
  background: linear-gradient(-45deg, #0a0a0a, #1e1e1e, #0f0f0f, #1c1c1c);
  color: white;
  font-family: sora;
}

.tabela-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

#backbutton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#backbutton img {
  height: 28px;
  width: 28px;
  opacity: 0.6;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#backbutton:hover img {
  opacity: 1;
  transform: translateX(-5px);
}

.table-wrapper {
  width: 70%;
  max-width: 1200px;
}

table {
  margin: 20px auto;
  background-color: #d9d9d9;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
  width: 100%;
  color: black;
  border-spacing: 0;
}

tbody tr:nth-child(even) {
  background-color: #898585;
  color: white;
}

tbody tr:hover {
  background-color: #444444;
  color: white;
}

thead {
  background-color: #1d1d1d;
}

thead th {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 2px solid #1d1d1d;
  border-right: 1px solid white;
  padding: 30px;
}

tbody td {
  border-right: 1px solid white;
  text-align: center;
}

.id-col {
  font-size: 10px;
}

.data-col {
  font-size: 12px;
}

.status-col {
  font-size: 12px;
}

thead th:last-child,
tbody td:last-child {
  border-right: none;
}

tbody td:first-child {
  text-align: center;
}

.header {
  flex-direction: row;
  display: flex;
}

.tabela-container h1 {
  margin-right: 200px;
  margin-bottom: 10px;
}

.tabela-container .detalhes {
  color: white;
  border: none;
  border-radius: 15px;
  background-color: #f9812b;
  width: 100px;
  height: 25px;
  flex-direction: column;
  font-family: sora;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 3vh;
}

.tabela-container button:hover {
  background-color: #d56a1f;
  transform: scale(1.03);
}

img {
  margin-right: 20px;
  height: 95px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-family: sora;
  position: relative;
  width: 900px;
}

.search-container input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  font-size: 14px;
  font-family: sora;
  height: 40px;
}

.search-container button {
  height: 40px;
  width: 200px;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#search-button {
  background-color: #f9812b;
}

#search-button:hover {
  background-color: #d56a1f;
  transform: none;
}

#clear-button {
  background-color: #f44336;
  border-radius: 10px;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 40px;
}

#clear-button:hover {
  background-color: #d32f2f;
}

.search-results {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  color: #999;
}

.trash {
  height: 20px;
  width: 20px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}